/*цвет заголовков #212121  */
/* основной цвет текста #757575 */
/* белый цвет текста #FFFFFF */
/* цвет акцента #2196F3 */
/* font-family: 'Raleway', sans-serif; 
font-family: 'Roboto'*/


:root {
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-text-color: #2196F3;
--background-dark-color: #2F303A;
--card-gap: 30px;
--card-item: 3;
}

p,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
}

.list {
   list-style:none;
   padding: 0;
   margin: 0;
}

.link {
   text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: var(--card-gap);
}

.card-set-item {
    flex-basis: calc((100%-((var(--card-item) - 1) * var(--card-gap))) / var(--card-item));
}

.title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}


/* ======================== HEADER ======================== */

.main-nav {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo-accent {
    color: var(--accent-text-color);
}

.menu {
    display: flex;
    margin-left: 93px;
}

.menu-item:not(:last-child) {
    margin-right: 50px;
}

.menu-link {
   display: block;
   padding-top: 32px;
   padding-bottom: 32px;

   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
}
    
.menu-link:hover,
.menu-link:focus {
   color: var(--accent-text-color)
}
 
.header-contacts {
    display: flex;
    margin-left: auto;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.header-contacts .item + .item {
    margin-left: 50px;
}

.header-contacts .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-contacts:hover,
.header-contacts:focus {
    color: var(--accent-text-color);
}
/* ======================== /HEADER ======================== */



/* ======================== HERO ========================*/
.hero {
    text-align: center;
    background: var(--background-dark-color);
}
    
.hero-title {  
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
    
.modal-btn {
    display: inline-block;
    align-items: center;
    text-align: center;  

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
    
.modal-btn:hover,
.modal-btn:focus {
    background: #188CE8;
}
/* ======================== /HERO ======================== */



/* ======================== FEATURES ========================*/

.features-list {
    --card-item: 4;
    flex-wrap: nowrap;
}

.title-features-list {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color)
}

.description {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
/* ======================== /FEATURES ========================*/


/* ======================== WORK ======================== */

/* ======================== /WORK ========================*/



/* ======================== TEAM ========================*/
.team {
    background: #F5F4FA;
}
.team-name{
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);   
}

.job-title {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-card {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

/* ======================== /TEAM ======================== */




/* ======================== FOOTER ======================== */
.footer {
    background: var(--background-dark-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo  {
    color: #FFFFFF;
}

.contacts {
    margin-top: 20px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.contacts-item:not(:last-child) {
    margin-bottom: 9px;
}

.adress {
    color: #FFFFFF;
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-text-color);  
}

/* ======================== /FOOTER ======================== */


/* ======================== FILTERS ======================== */

.filters-list{
    margin-top: 94px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.filters-button:not(:last-child) {
    margin-right: 8px;
}

.filters-btn {
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
}

.filters-btn:hover,
.filters-btn:focus {
    color: #FFFFFF;
    background: var(--accent-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
/* ======================== /FILTERS ======================== */



/* ======================== PROJECTS ========================*/
.projects {
    padding-top: 0;
}
.project-card {
    box-sizing: border-box;

    left: 215px;
    top: 262px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
} 

.project-title {
    margin-top: 20px;
    margin-bottom: 4px;
    margin-right: 24px;
    margin-left: 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2; 
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.project-description {
    margin-bottom: 20px;
    margin-left: 24px;
    margin-right: 54px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
/* ======================== /PROJECTS ======================== */
